@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Montserrat";
}
.bGuard {
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.header {
    position: relative;
    padding-top: 30px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        &_img {
        }
    }

    &__menu {
        width: 859px;
    }

    &__phone {
        a {
            display: none;
            align-items: center;
            // font
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 29px;

            color: white;
            transition: 0.3s all;
            &:hover {
                color: #cfcfcf;
            }
            img {
                margin-right: 3px;
            }
        }
    }
}

.menu {
    display: none;
    justify-content: space-between;
}
.menu-item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: white;
    // anim
    transition: 0.3s all;
    &:hover {
        color: #cfcfcf;
    }
}

@keyframes slideBg {
    0% {
        background-image: url("../img/main/Heading/bg.png");
    }

    33% {
        background-image: url("../img/main/Heading/bg1.png");
    }
}

.main-page {
    height: 110vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url("../img/main/Heading/bg.png");
    &__header {
        margin-top: 113px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_title {
            h1 {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;

                color: #ffffff;
            }
        }

        &_discription {
            margin-top: 40px;
            max-width: 598px;
            p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 161.4%;
                /* or 39px */

                text-align: center;

                color: #ffffff;
            }
        }

        &_button {
            margin-top: 35px;

            button {
                margin-bottom: 70px;
                display: inline-block;
                background: #ffffff;
                border: white 1px solid;
                padding: 20px 30px;
                // font
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 29px;
                color: #000000;
                // anim
                transition: background 0.3s ease, color 0.3s ease;
                &:hover {
                    background: none;
                    color: #ffffff;
                }
            }
        }
    }
}
// burger-menu start
.burger__wrapper {
    display: block;
}
.burger-btn {
    z-index: 200;
    cursor: pointer;
    position: fixed;
    right: 30px;
    top: 85px;
    transform: translate(-50%, -50%);
}
.bar1,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 12px 0;
    transition: 0.4s;
}
.bar2 {
    width: 16px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-13.5px, 12px);
    background-color: black;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-9px, -7px);
    background-color: black;
}

.burger {
    z-index: 10;
    &__menu {
    }
}
.burger-list {
    position: fixed;
    right: -1000px;
    top: 0;
    width: 409px;
    height: 100%;
    text-align: center;
    padding-top: 145px;
    transition: all 0.4s;
    background-color: #ffffff;
}
.burger-menu-item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
    margin-bottom: 25px;
}
.burger-active {
    right: 0px;
}
// burger-menu finish
// slider start

.heading {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: 68px;
    color: #1e1e1e;
}

.btn {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 17px;
}

.btn_black {
    font-family: "Montserrat";
    color: #ffffff;
    background: #1e1e1e;
}

.btn_white {
    font-family: "Montserrat";
    color: #1e1e1e;
    background: #ffffff;
    border: 1px solid #1e1e1e;
}

/*  */
.gray-wrapper {
    margin-top: 167px;
    padding: 64px 0px;
    background: #f5f5f5;
}
.numbers__wrapper {
    display: flex;
}

.numbers__heading {
    margin-bottom: 40px;
}

.slider {
    z-index: 0;
    width: 54%;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 55px;
}

.slider__inner {
    height: 100%;
    display: flex;
    transition: all 0.5s ease;
}

.slider__wrapper {
    overflow: hidden;
}

.box-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-btn__btns {
    display: flex;
}

.slider__btn {
    cursor: pointer;
    transition: opacity 0.3s ease;
    max-width: 50px;
    max-height: 50px;
}

.slider__btn:hover {
    opacity: 0.7;
}

.slide__img {
    height: 340px;
    width: 975px;
}

.slide__img img {
    width: 100%;
    height: 100%;
}

.slider__border {
    position: absolute;
    top: -15px;
    left: 40px;
    right: -25px;
    height: 300px;
    z-index: -1;
}

.slider__border img {
    width: 100%;
    height: 100%;
}

.dots {
    display: flex;
}

.dot {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 100%;
    background: #d9d9d9;
}

.dot:not(:last-child) {
    margin-right: 10px;
}

/* tabs */

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab {
    animation: anim 0.3s ease;
}

.tabs__heading {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1e1e1e;
    margin-bottom: 24px;
}

.tabs__description {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 18px;
    line-height: 161.4%;
    color: #1e1e1e;
    margin-bottom: 24px;
}

.tabs__money {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 161.4%;
    color: #1e1e1e;
    margin-bottom: 24px;
}

.tabs__money strong {
    font-weight: 700;
    font-size: 24px;
}

.tabs__box-btns {
    margin-bottom: 10px;
}

.tabs__box-btns > .btn:not(:last-child) {
    margin-right: 15px;
}

@keyframes anim {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/* detailed */

.detailed-number__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    line-height: 161.4%;
    color: #000000;
    z-index: 100;
}

.detailed-number {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    opacity: 1;
    z-index: 300;
    height: 100vh;
    overflow-y: scroll;
}

.detailed-number__wrapper {
    position: relative;
    padding-top: 50px;
    width: 50%;
}

.detailed-number__close {
    z-index: 100;
    position: absolute;
    right: 30px;
    top: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.detailed-number__close:hover {
    opacity: 0.7;
}

.detailed-number__heading {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    color: #1e1e1e;
    margin-bottom: 50px;
    margin-left: 50px;
}

.detailed-number__line {
    left: 0;
    border: 1px solid #ffb4b4;
    width: 70vw;
    margin-bottom: 50px;
}

.detailed-number__money-heading {
    margin-bottom: 20px;
}

.detailed-number__money {
    margin-left: 50px;
    margin-bottom: 50px;
}

.detailed-number__money-price {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.detailed-number__description {
    margin-left: 50px;
    margin-bottom: 60px;
}

.detailed-number__title {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.detailed-number__title img {
    margin-right: 12px;
}

.detailed-number__item {
    display: flex;
    align-items: center;
}

.detailed-number__item img {
    margin-right: 20px;
}
//   slider finish
// stocks start
.stocks {
    margin: 30px 0px 30px 0px;
    &__header {
        h2 {
            margin: 30px 0px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 68px;

            color: #1e1e1e;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.stocks-card {
    border: 1px solid #1e1d1d;
    max-width: 100%;
    padding: 60px 28px;
    margin-bottom: 20px;
    h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;

        color: #1e1e1e;
    }
    p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 161.4%;
        /* or 39px */

        color: #1e1e1e;
    }
}
// stocks finish
// reviews start
.reviews {
    &__header {
        margin-bottom: 50px;
        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            
            color: #1E1E1E;
        }
    }

    &__slider {
    }
}
// review card start

.review-card {
    position: relative;
    background-color: #f4f4f4;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 65px 140px;
    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        
        color: #1E1E1E;
        margin-bottom: 4px;
    }
    p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 44px;

        color: #000000;
        margin-bottom: 20px;
    }
    .redline {
        margin-bottom: 20px;
    }
    .stars {
        margin-bottom: 20px;
    }
    .comment,
    .date {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 161.4%;
        /* or 39px */

        text-align: center;

        color: #000000;
    }
}

// review card finish
.slick-next {
    position: absolute !important;
    right: 47.5% !important;
    bottom: 0px !important;
    background-image: url(/img/next.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    width: 26px !important;
    height: 26px !important;

    top: 97.5% !important;

    &::before {
        display: none !important;
    }
    &:hover {
        opacity: 0.7;
    }
}
.slick-prev {
    z-index: 10;
    position: absolute !important;
    left: 47.5% !important;
    bottom: 0px !important;
    background-color: none !important;
    background-image: url(/img/prev.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    width: 26px !important;
    height: 26px !important;
    top: 97.5% !important;
    &::before {
        display: none !important;
    }
    &:hover {
        opacity: 0.7;
    }
}
.contacts {
    margin-top: 180px;
    &__row {
        position: relative;

        background: #f5f5f5;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &_content {
            padding: 90px 60px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

        }

        &_map {
            position: absolute;
            right: 0px;
            bottom: -2px;
            iframe {
                border: 0px;
                width: 500px;
                height: 620px;
            }
        }
    }

    &__content {
    
        &_header {
            margin-bottom: 62px;
            h2 {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 42px;
                line-height: 68px;

                color: #1e1e1e;
            }
        }

        &_adress {
            margin-bottom: 26px;
            display: flex;
            align-items: center;
           
            img {
                margin-right: 15px;
            }
            a {
                max-width: 387px; 
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 161.4%;
                /* or 39px */

                color: #1e1e1e;
                margin-right: 83px;
                // anim
                transition: 0.3s all;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &_bron {
            display: flex;
        align-items: start;
            flex-direction: column;
            margin-bottom: 26px;
            img {
                margin-right: 15px;
            }
            a {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 161.4%;
                /* or 39px */

                color: #1e1e1e;
                margin-right: 83px;
                // anim
                transition: 0.3s all;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &_hostel {
            display: flex;
            align-items: start;
            flex-direction: column;
            
            margin-bottom: 26px;
            img {
                margin-right: 15px;
            }
            a {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 161.4%;
                /* or 39px */

                color: #1e1e1e;
                margin-right: 83px;
                // anim
                transition: 0.3s all;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &_time {
            display: flex;
            align-items: center;
            img {
                margin-right: 15px;
            }
            p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 161.4%;
                /* or 39px */

                color: #1e1e1e;
            }
        }
    }
}
// reviews finish
// footer start

.footer {
    padding: 43px 64px;
    background: #1e1d1d;
    &__row {
        display: flex;

        &_logo {
        }
    }

    &__list {
        margin-top: 120px;
        margin-left: 90px;
        width: 650px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    
        &_menu {
            margin-bottom: 25px;
        }
    }

    &__menu {
      
        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            img {
                margin-right: 20px;
            }
            a {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 29px;

                color: #ffffff;
                // anim
                transition: 0.3s all;
                &:hover {
                    color: #cfcfcf;
                }
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
